<?xml version="1.0"?>

<launch>
        <!-- Launch realsense camera-->
        <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        </include> 
        <!-- Run tau_computation using cnn-->
        <node name="tau_comp_jackal" pkg="vision_based_navigation_ttt_ml" type="tau_computation_cnn_on_jackal.py"/>
        <!-- You can use another controller but since we dont need act sense cycle for tau values computed 
        from scans I used the controller that only uses an act cycle-->
        <node name="controller" pkg="vision_based_navigation_ttt_ml" type="controller_act_bias.py"/> 
       
</launch>  